.card{
  background-color: white;
  padding: 25px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.card > img {
  width: 90%;
  height: 200px;
}

.card-container{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
